<template>
    <div class="card mb-3">
        <div v-if="loading">
            <widget-loading></widget-loading>
        </div>
        <div v-else="!loading">
            <div class="card-body">
                <div class="form-group">
                    <label class="font-weight-bold">{{Lang.get('admin.name')}}
                        <span class="text-danger h4">*</span>
                    </label>
                    <input type="text"
                           class="form-control"
                           v-model="form.name"
                           @input="errors.clear('name')"
                           :placeholder="Lang.get('admin.name')"
                           name="name">
                    <span class="text-danger" v-if="errors.has('name')" v-text="errors.get('name')"></span>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold">{{Lang.get('admin.employees')}}</label>
                    <div>
                        <el-select v-model="form.employees"
                                   @change="errors.clear('employees')"
                                   clearable
                                   multiple
                                   :placeholder="Lang.get('admin.employees')">
                            <el-option
                                    v-for="item in options.availableEmployee"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </div>
                    <span class="text-danger" v-if="errors.has('employees')" v-text="errors.get('employees')"></span>
                </div>
                <button class="btn btn-sm btn-primary mr-2"
                        @click="createOrEdit">
                    {{Lang.get('admin.save')}}
                </button>
                <button class="btn btn-sm btn-danger"
                        @click="cancelCreateOrEdit">
                    {{Lang.get('admin.hide')}}
                </button>
            </div>
        </div>
    </div>
</template>

<script>
  import WidgetLoading from '../elements/WidgetLoading';
  import Errors from '../../Errors';

  export default {
    name: "CompanyCreateOrEdit",
    components: {
      WidgetLoading,
    },
    props: {
      edit: {
        required: true,
      },
    },
    data() {
      return {
        form: {
          name: '',
          employees: [],
        },
        options: {
          availableEmployee: [],
        },
        loading: true,
        errors: new Errors(),
        Lang,
      }
    },
    watch: {
      edit: function (newVal, oldVal) {
        if (!isNaN(this.edit)) {
          this.getData();
        }
        else {
          this.clearFormData();
        }
      }
    },
    methods: {
      cancelCreateOrEdit() {
        this.$emit('cancel')
      },
      createOrEdit() {
        let url = '/company/store';
        if (!isNaN(this.edit)) {
          url = '/company/{0}/update'.format(this.edit);
        }

        axios.post(url, this.form).then(res => {
          this.$emit('create-or-update');
          this.cancelCreateOrEdit();
        }).catch(error => {
          this.errors.record(error.response.data.errors);
        })

      },
      getData() {
        let url = '/company/{0}/edit'.format(this.edit);
        this.loading = true;

        axios.post(url).then(res => {
          this.setData(res.data);
        }).catch(rej => console.log(rej));
      },
      setData(data) {
        this.form.name = data['company']['name'];
        this.form.employees = data['employees_ids'];

        this.options.availableEmployee = data['users'];

        this.loading = false;
      },
      clearFormData() {
        this.form = {
          name: '',
          employees: [],
        };
      }
    },
    mounted() {
      if (!isNaN(this.edit)) {
        this.getData();
      }
      else {
        this.options.availableEmployee = users;
        this.loading = false;
      }
    }
  }
</script>
