<template>
    <div>
        <h1 class="text-center mt-4">
            {{Lang.get('company.list')}}
            <widget-loading v-if="loading"></widget-loading>
            <button class="btn btn-sm btn-info text-white pull-right"
                    @click="createOrEdit('new')">
                {{Lang.get('admin.create')}}
            </button>
        </h1>
        <hr>
        <div v-if="edit">
            <company-create-or-edit :edit="edit"
                                    @cancel="cancelCreateOrEdit"
                                    @create-or-update="updateData"
            ></company-create-or-edit>
        </div>
        <div v-if="data.length">
            <company-preview
                    v-for="(item,index) in data"
                    :key="item.id"
                    :item="item"
                    @edit="createOrEdit"
                    @deleted="updateData"
            ></company-preview>
        </div>
        <div v-else>
            <p>{{Lang.get('company.empty')}}</p>
        </div>
    </div>
</template>

<script>
  import WidgetLoading from '../elements/WidgetLoading';
  import CompanyPreview from './CompanyPreview';
  import CompanyCreateOrEdit from './CompanyCreateOrEdit';

  export default {
    name: "Company",
    components: {
      CompanyPreview,
      CompanyCreateOrEdit,
      WidgetLoading,
    },
    data() {
      return {
        data: [],
        loading: true,
        edit: '',
        Lang,
      }
    },
    methods: {
      updateData() {
        this.loading = true;
        axios.post('/companies/getData').then(res => {
          this.setData(res.data);
        }).catch(err => this.loading = false);
      },
      setData(data) {
        this.data = data;

        this.loading = false;
      },
      createOrEdit(param) {
        this.edit = param;
      },
      cancelCreateOrEdit() {
        this.edit = '';
      }
    },
    mounted() {
      this.updateData();
    }
  }
</script>