<template>
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-8">
                    <a :href="url">{{item.name}}</a>
                </div>
                <div class="col-sm-4 text-right">
                    <button class="btn btn-sm btn-success mr-1"
                            title="Редактировать"
                            @click="editItem"> {{Lang.get('admin.edit')}}
                    </button>
                    <button class="btn btn-sm btn-danger text-white"
                            title="Удалить"
                            @click="deleteItem"> {{Lang.get('admin.delete')}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
  export default {
    name: "CompanyPagePreview",
    props: {
      item: {
        required: true,
        type: Object,
      },
    },
    data() {
      return {
        Lang,
      }
    },
    computed: {
      url: function () {
        return '/company/' + this.item.id;
      },
    },
    methods: {
      deleteItem() {
        if (!confirm(Lang.get('admin.confirm_delete'))) {
          return false;
        }

        let url = '/company/{0}/delete'.format(this.item.id);

        axios.post(url).then(res => {
          this.$emit('deleted');
        }).catch(rej => console.log(rej));

      },
      editItem() {
        this.$emit('edit', this.item.id);
      }
    },
  }
</script>

